:root{
  --primary-color : black;
  --secondary-color : #85F4FF;
  --text-color : white;
  --p-color : #8f8f8f;
}


#moon{
  width: 20px;
  cursor: pointer;
}

.light-theme{
  --primary-color : white;
  --p-color : black;
  --text-color : black;
}

body {
  font-family: "Ubuntu";
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
}

p {
  color: var(--p-color);
  font-size: 2rem;
}

h1{
  font-size: 4rem;
  font-weight: bolder;
}


.AR2{
  width: 100%;
  padding : 50px;
  border-radius: 100%;
}

.social-bar{
  text-align: center;
  position: fixed;
  left: 0;
}

.head-name{
  color: var(--secondary-color);
}

.big-heading {
  color : var(--text-color);
  font-family: "Ubuntu";
  font-size: 4.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  color: var(--secondary-color);
}


.container-fluid{
  padding: 7% 15%;
}




.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title Section */

#title {
  background-color: var(--primary-color);
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* skill Section */

#skills {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.skill-text {
  font-size: 3rem;
  line-height: 1.5;
}

.skill-image {
  width: 60%;
  border-radius: 100%;
  margin: 5%;
}

/* Pricing Section */

#back-ground {
  padding: 5% 10%;
}

.card{
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  border-width: thick;
  margin: 10%;
}

.card-header{
  background-color: var(--secondary-color);
}

.back-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* Footer Section */

/* WHEN YOU WILL ADD IMAGE */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  #footer{
    text-align: center;
    padding-bottom : auto;
  }

}


.social-icon{
  color: var(--text-color);
  margin: 3%;
}

.social-icon:hover{
  color: var(--secondary-color);
}

footer{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 2rem;
  text-align: left;
  padding: 5% 10% 15%;
}
